data/flows.json
[
  {
    "id": "18756fe49f863216",
    "type": "tab",
    "label": "Radar de Sinal",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a980cd7dbea97483",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "AWS News",
    "url": "https://aws.amazon.com/about-aws/whats-new/recent/feed/",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 140,
    "y": 60,
    "wires": [["e230bd8c7eb23930", "4056b85181b0a73d"]]
  },
  {
    "id": "8dfcdd429f2f2065",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "Blog Pragmatic Engineer",
    "url": "https://blog.pragmaticengineer.com/rss/",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 190,
    "y": 120,
    "wires": [["e230bd8c7eb23930", "0a87a774145f4cb1"]]
  },
  {
    "id": "e230bd8c7eb23930",
    "type": "function",
    "z": "18756fe49f863216",
    "name": "core",
    "func": "// ==========================================\n// 1. EXTRAÇÃO DE DADOS\n// ==========================================\nconst titulo = msg.topic || \"Artigo sem título\";\nconst resumo = typeof msg.payload === 'string' ? msg.payload : \"\";\nconst link = msg.article?.link || msg.article?.origlink || msg.link || \"\";\n\nlet fonte = msg.article?.meta?.title || msg.meta?.title || \"\";\nif (!fonte) {\n    if (link.includes(\"aws.amazon\")) fonte = \"AWS News\";\n    else if (link.includes(\"pragmaticengineer\")) fonte = \"The Pragmatic Engineer\";\n    else fonte = \"Radar Tech\";\n}\n\nlet dataBruta = msg.article?.date || msg.article?.pubDate || new Date();\nconst data = new Date(dataBruta).toLocaleString('pt-PT', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' });\n\n// ==========================================\n// 2. CACHE DE IDEMPOTÊNCIA (Memória v6)\n// ==========================================\nconst articleId = msg.article?.guid || link || titulo;\nlet lidosCache = flow.get(\"rssCache_v6\") || []; // Mudamos para v6 para resetar a memória\n\nif (lidosCache.includes(articleId)) {\n    // LOG DE OBSERVABILIDADE\n    node.warn(\"🛑 Bloqueado (Repetido na Cache): \" + titulo);\n    return [null, null];\n}\n\nlidosCache.push(articleId);\nif (lidosCache.length > 200) lidosCache.shift();\nflow.set(\"rssCache_v6\", lidosCache);\n\n// ==========================================\n// 3. FILTRO SRE (Whitelist)\n// ==========================================\nconst resumoLimpo = resumo.replace(/(<([^>]+)>)/gi, \" \").toLowerCase();\nconst conteudoParaAnalisar = (titulo + \" \" + resumoLimpo).toLowerCase();\n\n// Lista alargada para forçar o teste\nconst keywordsAlvo = [\"amazon\", \"aws\", \"cloud\", \"devops\", \"sre\", \"python\", \"node.js\", \"kubernetes\", \"IA\", \"BI\", \"GPT\"];\n\nconst isRelevante = keywordsAlvo.some(kw => conteudoParaAnalisar.includes(kw));\n\nif (!isRelevante) {\n    // LOG DE OBSERVABILIDADE\n    node.warn(\"⚠️ Bloqueado (Fora do Escopo): \" + titulo);\n    return [null, null];\n}\n\n// LOG DE SUCESSO\nnode.warn(\"✅ Aprovado! Enviando para o Telegram: \" + titulo);\n\n// ==========================================\n// 4. ROTEAMENTO: Dashboard (Tempo Real) e Telegram (Fila)\n// ==========================================\nconst itemRadar = { id: Date.now(), titulo: titulo, link: link, fonte: fonte, data: data };\n\n// A) Atualiza o Dashboard imediatamente\nlet radarHistorico = flow.get(\"radarHistorico_v6\") || [];\nradarHistorico.unshift(itemRadar);\nif (radarHistorico.length > 30) radarHistorico.pop();\nflow.set(\"radarHistorico_v6\", radarHistorico);\n\n// B) Guarda silenciosamente na \"Fila do Telegram\" (Não envia já!)\nlet filaTelegram = flow.get(\"filaTelegram\") || [];\n// Só adiciona se o link ainda não estiver na fila de hoje\nif (!filaTelegram.some(artigo => artigo.link === link)) {\n    filaTelegram.push(itemRadar);\n    flow.set(\"filaTelegram\", filaTelegram);\n}\n\nreturn [{ payload: radarHistorico }, null];\n// Retorna apenas para a Porta 1 (Dashboard). A Porta 2 (Telegram) recebe 'null' por agora.\n// return [{ payload: radarHistorico }, { payload: tgPayload }];\n  ",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 360,
    "wires": [
      ["6151880ca159de17", "c7d4b497a74e790a"],
      ["054788c31d68ea77", "b6aceadd14047a27"]
    ]
  },
  {
    "id": "6151880ca159de17",
    "type": "ui-template",
    "z": "18756fe49f863216",
    "group": "7a951aba2c55597a",
    "page": "",
    "ui": "",
    "name": "Dashboard",
    "order": 0,
    "width": 0,
    "height": 0,
    "head": "",
    "format": "<div style=\"max-height: 500px; overflow-y: auto; padding: 10px;\">\n    <div v-for=\"item in msg.payload\" :key=\"item.id\"\n        style=\"padding: 16px; margin-bottom: 12px; border-radius: 8px; border-left: 4px solid #ff9800; background: var(--v-theme-surface); box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n\n        <div style=\"font-size: 0.8em; color: gray; margin-bottom: 6px;\">\n            {{ item.fonte }} • {{ item.data }}\n        </div>\n\n        <div style=\"font-size: 1.05em; font-weight: bold; margin-bottom: 16px; line-height: 1.3;\">\n            {{ item.titulo }}\n        </div>\n\n        <v-btn :href=\"item.link\" target=\"_blank\" color=\"primary\" variant=\"tonal\" size=\"small\"\n            append-icon=\"mdi-open-in-new\">\n            Ler Artigo Completo\n        </v-btn>\n    </div>\n\n    <div v-if=\"!msg.payload || msg.payload.length === 0\" style=\"text-align: center; color: gray; margin-top: 20px;\">\n        A sondar feeds... Nenhuma tecnologia detetada ainda.\n    </div>\n</div>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 810,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "054788c31d68ea77",
    "type": "telegram sender",
    "z": "18756fe49f863216",
    "name": "",
    "bot": "d6d4d8f9d4f905dd",
    "haserroroutput": false,
    "outputs": 1,
    "x": 820,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "4056b85181b0a73d",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "aws news",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 300,
    "y": 60,
    "wires": []
  },
  {
    "id": "0a87a774145f4cb1",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "blog pragmatic",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 120,
    "wires": []
  },
  {
    "id": "c7d4b497a74e790a",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "dashboard",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 400,
    "wires": []
  },
  {
    "id": "b6aceadd14047a27",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "telegram",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 440,
    "wires": []
  },
  {
    "id": "a063467371a2fbaf",
    "type": "inject",
    "z": "18756fe49f863216",
    "name": "Agendador",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 8-21 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 780,
    "wires": [["345f0f99f4af57b6", "fb1cd4f91b420747"]]
  },
  {
    "id": "345f0f99f4af57b6",
    "type": "function",
    "z": "18756fe49f863216",
    "name": "Gerar Resumo",
    "func": "// Vai buscar os artigos acumulados na memória\nlet fila = flow.get(\"filaTelegram\") || [];\n\n// Se não houve notícias novas desde o último resumo, não chateia o utilizador.\nif (fila.length === 0) {\n    return null;\n}\n\n// Monta o cabeçalho da mensagem\nlet textoMensagem = `☕ *O seu Resumo Tech*\\nEncontrei ${fila.length} artigos interessantes:\\n\\n`;\n\n// Pega num máximo de 10 artigos para não criar uma mensagem gigante\nlet limite = Math.min(fila.length, 10);\nfor (let i = 0; i < limite; i++) {\n    textoMensagem += `🔹 *${fila[i].fonte}*: [${fila[i].titulo}](${fila[i].link})\\n\\n`;\n}\n\nif (fila.length > 10) {\n    textoMensagem += `_+ ${fila.length - 10} outros artigos disponíveis no Dashboard._`;\n}\n\n// Formata para o Telegram\nconst tgPayload = {\n    chatId: 6909201684, // 🔴 COLOQUE O SEU ID DO TELEGRAM AQUI\n    type: \"message\",\n    content: textoMensagem,\n    options: { \n        parse_mode: \"Markdown\", \n        disable_web_page_preview: true // MUITO IMPORTANTE: Evita que o Telegram abra 10 miniaturas gigantes de imagens na conversa\n    } \n};\n\n// Limpa a fila para não enviar os mesmos amanhã\nflow.set(\"filaTelegram\", []);\n\nreturn { payload: tgPayload };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 780,
    "wires": [["2e9dc91b1dfa17c6", "cc6b3d17affd4c15"]]
  },
  {
    "id": "2e9dc91b1dfa17c6",
    "type": "telegram sender",
    "z": "18756fe49f863216",
    "name": "",
    "bot": "d6d4d8f9d4f905dd",
    "haserroroutput": false,
    "outputs": 1,
    "x": 600,
    "y": 780,
    "wires": [["21b5548315242935"]]
  },
  {
    "id": "cc6b3d17affd4c15",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "resumo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 360,
    "y": 820,
    "wires": []
  },
  {
    "id": "fb1cd4f91b420747",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "agendador",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 150,
    "y": 740,
    "wires": []
  },
  {
    "id": "21b5548315242935",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "telegram agendado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 780,
    "wires": []
  },
  {
    "id": "81819c27300fb4f4",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "The Verge",
    "url": "https://www.theverge.com/rss/index.xml",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 140,
    "y": 180,
    "wires": [["829a6179235af9e8", "e230bd8c7eb23930"]]
  },
  {
    "id": "829a6179235af9e8",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "the verge",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 280,
    "y": 180,
    "wires": []
  },
  {
    "id": "d92182209ab65546",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "MIT",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 250,
    "y": 240,
    "wires": []
  },
  {
    "id": "9fd8dec76a84c61b",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "MIT",
    "url": "https://www.technologyreview.com/feed",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 130,
    "y": 240,
    "wires": [["e230bd8c7eb23930", "d92182209ab65546"]]
  },
  {
    "id": "16ea94047ae3eb32",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "Wired",
    "url": "https://www.wired.com/feed/rss",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 130,
    "y": 300,
    "wires": [["e230bd8c7eb23930", "94f7fac37602be43"]]
  },
  {
    "id": "b0eb22fcc6f50370",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "TechCrunch",
    "url": "https://techcrunch.com/feed/",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 150,
    "y": 360,
    "wires": [["e230bd8c7eb23930", "21a2f059f60f1083"]]
  },
  {
    "id": "05e844934fa247c0",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "Computer World",
    "url": "https://www.computerworld.com/feed/",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 160,
    "y": 420,
    "wires": [["e230bd8c7eb23930", "3a5a1ee361c37b7a"]]
  },
  {
    "id": "2ee393882d1f4c68",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "Info World",
    "url": "https://www.infoworld.com/feed/",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 140,
    "y": 480,
    "wires": [["e230bd8c7eb23930", "285888e25f3e80b2"]]
  },
  {
    "id": "be1310f35603c176",
    "type": "feedparse",
    "z": "18756fe49f863216",
    "name": "O'reilly",
    "url": "https://feeds.feedburner.com/oreilly/radar/atom",
    "interval": "60",
    "ignorefirst": false,
    "sendarray": false,
    "x": 130,
    "y": 540,
    "wires": [["e230bd8c7eb23930", "33e8b36b1b8e42b6"]]
  },
  {
    "id": "94f7fac37602be43",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "Wired",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 250,
    "y": 300,
    "wires": []
  },
  {
    "id": "21a2f059f60f1083",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "TechChurch",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 360,
    "wires": []
  },
  {
    "id": "3a5a1ee361c37b7a",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "Computer World",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 340,
    "y": 420,
    "wires": []
  },
  {
    "id": "285888e25f3e80b2",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "Info World",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 290,
    "y": 480,
    "wires": []
  },
  {
    "id": "33e8b36b1b8e42b6",
    "type": "debug",
    "z": "18756fe49f863216",
    "name": "oreilly",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 270,
    "y": 540,
    "wires": []
  },
  {
    "id": "987fd19b7c960cfc",
    "type": "comment",
    "z": "18756fe49f863216",
    "name": "cron",
    "info": "",
    "x": 130,
    "y": 700,
    "wires": []
  },
  {
    "id": "8cb3cd3b771703a8",
    "type": "comment",
    "z": "18756fe49f863216",
    "name": "RSS Feed",
    "info": "",
    "x": 100,
    "y": 20,
    "wires": []
  },
  {
    "id": "7a951aba2c55597a",
    "type": "ui-group",
    "name": "[Radar] Últimas Notícias",
    "page": "cbbfbe9bcc60b3ec",
    "width": 6,
    "height": 1,
    "order": -1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default"
  },
  {
    "id": "d6d4d8f9d4f905dd",
    "type": "telegram bot",
    "botname": "@fedd_ia_bot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "testenvironment": false,
    "updatemode": "polling",
    "pollinterval": 300,
    "usesocks": false,
    "sockshost": "",
    "socksprotocol": "socks5",
    "socksport": 6667,
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbothost": "0.0.0.0",
    "localbotport": 8443,
    "publicbotport": 8443,
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "cbbfbe9bcc60b3ec",
    "type": "ui-page",
    "name": "Feed IT",
    "ui": "5688585864594044",
    "path": "/page2",
    "icon": "home",
    "layout": "grid",
    "theme": "7ea66ce5d91f48d8",
    "breakpoints": [
      {
        "name": "Default",
        "px": "0",
        "cols": "3"
      },
      {
        "name": "Tablet",
        "px": "576",
        "cols": "6"
      },
      {
        "name": "Small Desktop",
        "px": "768",
        "cols": "9"
      },
      {
        "name": "Desktop",
        "px": "1024",
        "cols": "12"
      }
    ],
    "order": -1,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "5688585864594044",
    "type": "ui-base",
    "name": "My Dashboard",
    "path": "/dashboard",
    "appIcon": "",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"],
    "showPathInSidebar": false,
    "headerContent": "page",
    "navigationStyle": "default",
    "titleBarStyle": "default",
    "showReconnectNotification": true,
    "notificationDisplayTime": 1,
    "showDisconnectNotification": true,
    "allowInstall": false
  },
  {
    "id": "7ea66ce5d91f48d8",
    "type": "ui-theme",
    "name": "Default Theme",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0094CE",
      "bgPage": "#eeeeee",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "4px",
      "widgetGap": "12px"
    }
  },
  {
    "id": "d320701226dfa643",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-node-feedparser": "1.0.3",
      "@flowfuse/node-red-dashboard": "1.30.2",
      "node-red-contrib-telegrambot": "17.1.0"
    }
  }
]
